body{
    background-color: #024959;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 5%;
}
.brand-logo{
    width: 50px;
    height: 50px;
}
.resume-button{
    color: white;
    border: 1;
    border-style: solid;
    border-color: aqua;
    border-radius: 10%;
}
.resume-button:hover{
        color: #024959;
        background-color: aqua;
}
.portfolio-section {
    margin-top: 5%;
    margin-left: 4%;
}
.portfolio-title {
    font-size: 20px;
    font-weight: bold;
    color: #3CA6A6;
}
.portfolio-description {
    font-size: 18px;
    margin-top: 20px;
    padding-right: 50%;
    text-align: justify;
}

.about-section {
    align-items: center;
    padding: 50px;
    margin-top: 5%;
}
.about-me h1{
    color: #3CA6A6;
}
.about-me{
    text-align: justify;
}
.about-me img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border: 1;
    border-color: white;
}

.hire-button {
    color: white;
    border: 1;
    border-style: solid;
    border-color: aqua;
    border-radius: 10%;
}
.hire-button:hover{
    color: #024959;
    background-color: aqua;
}

.work-experience-section {
    padding: 50px;
}

.experience-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    color: #3CA6A6;
}

.work-details{
    display: flex;
    justify-content: space-between;
}

.design-sample-section {
    padding: 50px;
}

.design-sample-section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    color: #3CA6A6;
}

.design-sample-section img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.design-sample-section img:hover {
    transform: scale(1.1); 
}
    
.experienced-tools-section {
    padding: 50px;
}

.experienced-tools-section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    color: #3CA6A6;
}

.logo {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.footer-section {
    background-color: #F2E3D5;
    padding: 50px 0;
}

.footer-logo {
    width: 30%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.footer-logo:hover{
    transform: scale(1.1);
}

.footer-section h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
}